{
  "presets": [
    "@babel/preset-typescript",
    "@babel/env",
    "minify"
  ],
  "plugins": [
    ["module-resolver", {"alias": {"^@types/(.+)$": "./types/\\1"}}],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "annotate-console-log"
      ]
    }
  }
}
