{
  "sourceMaps": "inline",
  "presets": [
    "@babel/preset-typescript",
    "minify"
  ],
  "plugins": [
    ["module-resolver", {"alias": {"^@types/(.+)$": "./types/\\1"}}],
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "main": {
      "presets": [
        ["@babel/preset-env", {"targets": {"node": 10}, "useBuiltIns": "usage", "corejs": 3}],
      ]
    },
    "browser": {
      "presets": [
        ["@babel/preset-env", {"useBuiltIns": "usage", "corejs": 3}],
      ]
    },
    "test": {
      "plugins": [
        "istanbul",
        "annotate-console-log"
      ]
    }
  }
}
