{
  "sourceMaps": "inline",
  "presets": [
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "main": {
      "presets": [
        ["@babel/preset-env", {"targets": {"node": 10}, "useBuiltIns": "usage", "corejs": 3}],
        "minify"
      ]
    },
    "browser": {
      "presets": [
        ["@babel/preset-env", {"useBuiltIns": "usage", "corejs": 3}],
        "minify"
      ]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", {"targets": {"node": "current"}, "useBuiltIns": "usage", "corejs": 3}],
      ],
      "plugins": [
        "annotate-console-log"
      ]
    }
  }
}
